.container {
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator {
    height: 600px;
    width: 400px;
    background-color: lightgrey;
}